<!-- is how you comment-->
<!DOCTYPE html> 
<html lang="en">
<head>
    <!--Metadata tag makes the viewport look alright on all devices-->
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <!--These two links that connect to the style and JS instead of putting it all on the html-->
    <link rel="stylesheet" href="style.css">
    <link rel="Java codes" href="script.js">
    <link rel="Gif" href="gif.html">
<title>Tic-Tac-Toe</title>
</head>
<body> 
    <h1>Tic-Tac-Toe</h1>
    <h2 id="authors">Created by Peter & Alex </h1> 
    <hr> <!--Creates the line break-->
    <pre><b> > Rules of the game:           </b> <!--'pre' keeps how the paragraph is & 'b' means bold font-->
    Get 3 in a row to win
    Good luck and have fun!!
    
    </pre> 

    
    <!-- created the dropdown menu -->
    <div class="dropdown">
        <button class="dropbutton">Menu</button>
        <div class="dropdown-content">
            <a href="#0">PVP</a>
            <a href="#1">Easy</a>
            <a href="#2">Medium</a>
            <a href="#3">Hard</a>
               
        </div>
    </div>
    <!-- still needs to change the ai setting/pvp when clicked
        so the dom/id needs to be made -->
        
        <!-- creating the tic-tac-toe box -->
        <div class="centerformat">
            <div class="container">
                <button class="tic-tac-button"> </button>
                <button class="tic-tac-button"> </button>
                <button class="tic-tac-button"> </button>
                <button class="tic-tac-button"> </button>
                <button class="tic-tac-button"> </button>
                <button class="tic-tac-button"> </button>
                <button class="tic-tac-button"> </button>
                <button class="tic-tac-button"> </button>
                <button class="tic-tac-button"> </button>
            </div>
            <div1 class="jover-text">
                <p>Is it Jover?</p>
                <button class="joe-button"> New game </button>
            </div1>
            
            <img src="https://media.tenor.com/n41gw_14DtgAAAAC/quagsire-pokemon.gif" alt="gif">
        </div>
        <div class="vl"></div> 
        <svg>
            <image class="change-my-color" xlink:href="https://www.svgrepo.com/show/12848/x-symbol.svg" width="96" height="96" src="ppngfallback.png" />
        </svg>
    <div class="result-end">
            <p id="result">Jover</p>
        </div>
    <script src="script.js"></script>
</body>
</html>
