/* is how you comment */
body {
    background-color: lightblue;
}

h1 {
    text-align:center;
    color:lightgoldenrodyellow; 
    font-size:400%; 
    font-family:'Courier New', Courier, monospace; 
    margin: 0
}

h2 {
    text-align: center;
}

pre {
    font-size:200%
}

p {
    text-align:center;
}

/* DropdownButton*/
.dropbton {
    background-color: #04AA6d;
    color: white;
    padding: 16x;
    font-size: 16;
    border: none;
}

    /*The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/*Dorpwdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Change color of dropdowm links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/*Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/*Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


.gameContainer {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {

}